<p-dataView [value]="products">
    <ng-template pTemplate="header">
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </ng-template>
    
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{ product.category }}</span>
            </div>
            <span
              [class]="
                'product-badge status-' + product.inventoryStatus.toLowerCase()
              "
              >{{ product.inventoryStatus }}</span
            >
          </div>
          <div class="product-grid-item-content">
            <img [src]="product.image" [alt]="product.name" />
            <div class="product-name">{{ product.name }}</div>
            <div class="product-description">{{ product.description }}</div>
            <div class="product-name">{{ product.rating }}</div>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{ product.price }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  